<html>
    <link rel="stylesheet" href="/css/styles.css">
    <body>
        <main>
                <h3>You have deleted <%= result.deletedCount %> items!</h3>
                <p><%=  result.deletedCount %></p>
        </main>
    </body>
</html>