<html>
    <link rel="stylesheet" href="/css/styles.css">
    <body>
        <main>
                <% if (result.deletedCount === 0) {%>
                <h3>You have not deleted any items!</h3>
                <% }else{ %>
                <h3>You have deleted an item!</h3>
                <% } %>
        </main>
    </body>
</html>