* {
    background-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h2, h3 {
    font-family: Georgia, serif;
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}